--- 
 layout: default
 title: Home
---


 <section class="hero-section">
      <div class="container">
          <h1 class="hero-title">Benvenuti nel mio blog personale</h1>
          <p class="hero-subtitle">Sono un appassionato di tecnologia, audio e musica</p>
      </div>
  </section>
  <!-- Sezione Featured Articles -->
  <section class="featured-section">
      <div class="container">
          <h2 class="section-title">Ultimi Articoli</h2>
          
          <div class="articles-grid">
              {% for post in site.posts limit: 3 %}
              <article class="article-card" >
                  <div class="category-badge">{{post.category}}</div>
                  <div class="article-image" style="background-image: url('https://images.unsplash.com/photo-1518709268805-4e9042af2176?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=80')"></div>
                  <div class="article-content-home">
                      <h3 class="article-title">{{post.title}}</h3>
                      <p class="article-subtitle">{{post.subtitle}}</p>
                      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="read-more">Leggi tutto</a>
                  </div>
              </article>
              {% endfor %}
          </div>
      </div>
  </section>

